:root {
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
}

/* COMMON */
img {
    max-width: 100%;
}

body {
    background-image: url(../img/train.jpg);
    background-size: cover;
    background-position: bottom;
}

.ms_container {
    background-color: rgba(1, 1, 1, 0.6);
}

/* UTILITIES */


/* HEADER */


/* MAIN */


/* FOOTER */


